{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ view.title }}</title>
    <link href="{% static 'bootstrap/bootstrap.min.css' %}"
          rel="stylesheet">

    <style>
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: green;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container" id="mood_mon">
    <navbar style="background-color: green">
        <a class="navbar-brand"
           slot="brand"
           href="#"
           style="color: white; padding: unset">
            <img alt="Brand"
                 src="{% static 'afbeeldingen/kpn-logo-small.png' %}"
                 width="70">
        </a>
        <template slot="collapse">
            <navbar-nav v-if="!signin">

                <li>
                    <a style="color: white"
                       role="button">Add mood
                    </a>
                </li>

            </navbar-nav>

            <navbar-form @submit.prevent="checkForm" right>
                <div class="form-group"
                     v-if="signin">

                    <input v-model="username"
                           type="text"
                           class="form-control"
                           placeholder="Username"
                           required>
                </div>

                <div class="form-group"
                     v-if="signin">

                    <input v-model="password"
                           type="password"
                           class="form-control"
                           placeholder="Password"
                           required>
                </div>

                <button type="submit"
                        class="btn">[[ signin_text ]]
                </button>
            </navbar-form>

        </template>
    </navbar>


</div>
<div class="container" id="new_mood">
    <div class="col-xs-12 col-lg-12">


        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">

            <btn-group size="lg" vertical style="width: 100%">
                <btn class="btn btn-success" v-on:click="submitMood(2)">Happy</btn>
                <btn class="btn btn-warning" v-on:click="submitMood(1)">Moderate</btn>
                <btn class="btn btn-danger" v-on:click="submitMood(0)">Sad</btn>
            </btn-group>

        </div>

    <div class="col-lg-1">
    </div>
</div>

<div class="col-xs-12">
<br>

    <line-chart id="moodChart" :data="chartData">
    </line-chart>

</div>
</div>


<footer class="py-5 bg-dark">

    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; KPN MOOD MONITOR 2019</p>
    </div>

</footer>
</body>

<script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
<script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script>
<script src="{% static 'chart/Chart.bundle.min.js' %}"></script>
<script src="{% static 'vue-chartkick/vue-chartkick.js' %}"></script>
<script src="{% static 'vue/vue.js' %}"></script>
<script src="{% static 'uiv/uiv.min.js' %}"></script>
<script src="{% static 'axios/axios.js' %}"></script>

<script>

    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    axios.defaults.xsrfCookieName = "csrftoken";
    Vue.use(VueChartkick);
    Vue.use(uiv);


    var cleanup_app = new Vue(
        {
            el: '#mood_mon',
            delimiters: ['[[', ']]'],
            data: {
                signin: false,
                signin_text: "Sign out",
                username: "",
                password: ""
            },
            methods: {
                checkForm: function (e) {
                    console.log(e);

                    if (this.signin) {
                        this.signin_text = "Sign out";
                        this.signin = false;

                        axios.post('signinout/', {
                            "user": this.username,
                            "password": this.password
                        })
                            .then(function (response) {

                                if (response.data.success) {

                                    vm.hosts.push(response.data.success);
                                    // this.$emit('add-cfg', cleanup_result_status );
                                    return;
                                }

                                if (response.data.error) {

                                    vm.$notify({
                                        placement: 'top-left',
                                        type: 'warning',
                                        title: 'CleanUp warning',
                                        content: response.data.error
                                    });

                                }

                            })
                            .catch(function (error) {
                                    vm.$notify({
                                        placement: 'top-left',
                                        type: 'danger',
                                        title: 'CleanUp failure',
                                        content: error
                                    });
                                    console.log(error);

                                }
                            );


                    } else {
                        this.signin_text = "Sign in";
                        this.signin = true
                    }


                }
            }


        }
    );

    var new_mood_app = new Vue({
        el: '#new_mood',
        data: {
            chartData: {}
        },
        methods: {
            submitMood: function (mood) {
                ix = Object.keys(this.chartData).length;
                Vue.set(this.chartData, ix, mood);
            }
        }
    });

</script>

</html>
